
.places__place{
    margin-top: 6%;
    gap: 10px;
}

@media screen and (width <= 700px) {
    .places__place{
        display: flex;
        flex-direction: column;
    }
    .places__place_image{
        width: 100%;
        height: 100%;
    }
}

@media screen and (width > 700px) {
    .places__place{
        display: grid;
        grid-template-areas: 
        "title url"
        "image paragraph";
    }
}