
@media screen and (width <= 325px)  {
    .page{
        max-width: 425px;
    }
    .lead__subtitle{
        margin-top: 16px;
    }
    .lead__image{
        width: 100%;
    }
    .intro__title{
        font-size: 32px;
        line-height: 35px;
    }

}
.page{
    margin: auto;
}